/ {
    chosen {
        zephyr,console = &usart1;
        zephyr,shell-uart = &usart1;
    };
};

&timers2 {
	st,prescaler = <0>;
	counter {
		status = "okay";
	};
};

&usart2 {
	current-speed = <38400>;
};

&can1 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&spi1 {
	status = "disabled";
};